h1 {
  text-align: center;
}
body {
  /* background-image: url("/assets/img/burger.jpeg"); */
  font-family: Georgia, serif;
}
p {
  text-align: center;
}
#readyToEat {
  float: left;
  width: 50%;
}
#devouredBurgers {
  float: right;
  width: 50%;
}
#newBurger {
  width: 75%;
  text-align: center;
}
.clearfix::after {
  content:"";
  display: block;
  clear: both;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.btnDevour {
  margin-top: 5px;
  float: right;
  margin-right: 50px;
  max-height: 20px;
  font-size: 10px;
}
.submit {
  margin-bottom: 15px;
}